:root{
    --dashboard-blue: rgb(25,146,212);
    --dashboard-yellow: rgb(250,204,21);
    --dashboard-grey: rgb(226,232,240);
}

body{
    background-color: green;
    margin: 0;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style-type: none;
    padding-left: 0;
}

svg{
    fill: white;
    width: 32px;
    height: 32px;
}

li:hover{
    color: var(--dashboard-yellow);
    >svg{
        fill: var(--dashboard-yellow);
    };
}

input[type="search"]{
    height: 2rem;
    background-color: var(--dashboard-grey);
    border: 0;
    border-radius: 10px;
    flex: 1;
}

input[type="search"]:focus{
    outline: 0;
    border: 2px solid var(--dashboard-yellow);
    box-shadow: 0 0 8px -2px var(--dashboard-yellow);
}

.container{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: grid;
    grid-template: 1fr 4fr / minmax(200px, 1fr) 4fr;
    grid-template-areas:
    "sidebar header"
    "sidebar main";
}

.header{
    grid-area: header;
    background-color: white;
    box-shadow: 0px 2px 6px 0px rgba(200, 200, 200, 0.8);
    z-index: 1;
    display: grid;
    grid-template: 0.8fr 1fr / 2fr 1fr;
    letter-spacing: 1px;
}

.header svg{
    fill: black;
}

.header svg:hover{
    fill: var(--dashboard-yellow);
}

.header-search,
.header-welcome{
    gap: min(2%, 20px);
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.header-profile{
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
    gap: 20px;
    font-weight: 700;
}

.header img{
    border-radius: 50%;
}

.header-profile img{
    width: 48px;
    height: 48px;
}

.header-welcome img{
    height: 64px;
    width: 64px;
}

.header-welcome-text{
    display: flex;
    flex-direction: column;
    font-weight: 700;
}

.header-welcome-text > span:first-child{
    font-size: smaller;
}

.header-welcome-text > span:last-child{
    font-size: larger;
}

.header-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
}

.header button{
    background-color: var(--dashboard-blue);
    border: 0;
    color: white;
    padding: 10px 25px;
    border-radius: 20px;
    font-size: 1.2rem;
}

.header button:hover,
li:hover{
    cursor: pointer;
}

.header button:hover{
    background-color: var(--dashboard-yellow);
}

.sidebar{
    grid-area: sidebar;
    background-color: var(--dashboard-blue);
    z-index: 2;
    display: flex;
    flex-direction: column;
    color: white;
    font-weight: 700;
    padding-right: 8px;
}

.sidebar li{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 30px;
    padding-top: 16px;
    letter-spacing: 2px;
}

.logo{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-top: 6px;
    text-transform: uppercase;
    font-size: x-large;
}

.sidebar .logo svg{
    width: 64px;
    height: 64px;
}

.main{
    grid-area: main;
    background-color: var(--dashboard-grey);
    display: grid;
    gap: 20px;
    grid-template-columns: 3fr 1fr;
    overflow: auto;
}

.main > div > h3{
    margin-bottom: 10px;
}

.carts{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(400px,1fr));
    margin-left: 20px;
}

.cart{
    display: flex;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}

.cart-ribbon{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: var(--dashboard-yellow);
    min-width: 10px;
}

.cart-content{
    padding: 30px 40px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cart-buttons{
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 30px;
}

.cart-buttons > svg{
    fill: black;
}

.cart-buttons > svg:hover{
    fill: var(--dashboard-yellow);
}

.cart h3{
    margin: 0;
    text-transform: capitalize;
}

.projects > h3{
    margin-left: 20px;
}

.updates{
    text-align: center;
    padding-right: 20px;
}

.updates > div{
    background-color: white;
    border-radius: 10px;
}

.updates h5{
    margin: 0;
    text-align: start;
}

.updates h3{
    text-align: start;
}

.updates h3:not(:first-child){
    margin-top: 30px;
}

.side-cart{
    padding: 25px;
    box-shadow: 4px 4px 8px -2px rgb(200, 200, 200);
}

.announcement h5{
    text-transform: capitalize;
}

.announcement p{
    font-size: 0.7rem;
    margin: 0;
    color: rgb(80,80,80);
    text-align: justify;
}

.side-cart hr{
    margin: 15px -8px;
    color: var(--dashboard-grey);
}

.trend{
    display: flex;
    gap: 20px;
}

.trend:not(:last-child){
    margin-bottom: 10px;
}

.trend-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    font-size: 0.9rem;
}

.trend-text span:first-child{
    font-weight: 500;
}

.trend-text span:last-child{
    color: rgb(100,100,100);
}

.trend img{
    width: 48px;
    height: 48px;
    border-radius: 50%;
}